# Virtual environment
eai6010_env/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Models directory
models/

# Ignore large files
*.docx
*.pdf

# Ignore large files
*.docx
*.pdf 